@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom 400px left -50px, top 450px left 980px;
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  max-width: 35rem;
  margin: 30rem auto 30rem auto;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.1);
}

.header {
  background-image: url(images/bg-pattern-card.svg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 6rem;
  height: 14rem;
}

.profile-picture {
  border-radius: 50%;
  margin-top: 8rem;
  border: 3px solid #fff;
  box-shadow: inset 0 0 0 10px #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
}

.profile-age {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.profile-name {
  margin-bottom: 1rem;
}

.profile-address {
  color: hsl(0, 0%, 59%);
}

.profile-stats {
  border-top: 2px solid #f0f1f2;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 3rem 4rem;
}

.profile-stat div {
  font-size: 1.8rem;
  font-weight: 700;
}
.profile-stat p {
  color: hsl(0, 0%, 59%);
}
